<div class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h2 class="font-weight-bold">Weather Forecast Chennai</h2>
    </div>
  </div>
  <div style="margin:2% 10%">
    <div class="card">
      <div class="card-header">
        <h4 class="font-weight-bold">Current Weather</h4>
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold">{{current.summary}}</h4>
        <div class="d-flex flex-row">
          <div class="d-flex flex-column">
            <div class="p-2 text-center">
              <span class="font-weight-bold">Temprature</span>
            </div>
            <div class="p-2 text-center"><span class="font-weight-bold">{{toCelcius current.temperature}}&#8451</span>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="p-2 text-center"><span class="font-weight-bold">Humidity</span>
            </div>
            <div class="p-2 text-center"><span class="font-weight-bold">{{current.humidity}}</span></div>
          </div>
          <div class="d-flex flex-column">
            <div class="p-2 text-center"><span class="font-weight-bold"> Uv Index</span> </div>
            <div class="p-2 text-center"><span class="font-weight-bold">{{current.uvIndex}}</span></div>
          </div>
        </div>

      </div>
    </div>
  </div>
  {{#each daily}}
  <div style="margin:2% 10%">
    <div class="card">
      <div class="card-header">
        <h4 class="font-weight-bold">{{convert this.time}}</h4>
      </div>
      <div class="card-body">
        <h4 class="card-title font-weight-bold">{{this.summary}}</h4>
        <div class="d-flex flex-row">
          <div class="d-flex flex-column">
            <div class="p-2 text-center">
              <span class="font-weight-bold">Temperature Max</span>
            </div>

            <div class="p-2 text-center"><span class="font-weight-bold">{{toCelcius this.temperatureMax}}&#8451</span>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="p-2 text-center">
              <span class="font-weight-bold">Temperature Min</span>
            </div>

            <div class="p-2 text-center"><span class="font-weight-bold">{{toCelcius this.temperatureMin}}&#8451</span>
            </div>
          </div>

          <div class="d-flex flex-column">
            <div class="p-2 text-center"><span class="font-weight-bold">Humidity</span>
            </div>
            <div class="p-2 text-center"><span class="font-weight-bold">{{this.humidity}}</span></div>
          </div>
          <div class="d-flex flex-column">
            <div class="p-2 text-center"><span class="font-weight-bold"> Uv Index</span> </div>
            <div class="p-2 text-center"><span class="font-weight-bold">{{this.uvIndex}}</span></div>
          </div>
        </div>

      </div>
    </div>
  </div>

  {{/each}}
</div>